importFrom("curl","has_internet")
importFrom("foreign","read.dbf")
importFrom("Hmisc", "mdb.get")
importFrom("httr", "GET","http_error","message_for_status","modify_url","status_code","timeout")
importFrom("measurements", "conv_unit")
importFrom("rvest", "html_attr", "html_nodes", "read_html")
importFrom("RODBC", "odbcConnect", "odbcClose", "sqlFetch")
importFrom("stats", "formula","na.omit","update")
importFrom("utils", "data","download.file", "packageVersion", "unzip","write.csv")
export(dbhMetric,dendroMetrics,fetchNFI,getNFI,metrics2Vol,nfiMetrics,readNFI,urlToTemp)

