importFrom("curl","has_internet")
importFrom("foreign","read.dbf")
importFrom("Hmisc", "mdb.get")
importFrom("httr", "GET","http_error","message_for_status","modify_url","status_code","timeout")
importFrom("measurements", "conv_unit")
importFrom("rvest", "html_attr", "html_nodes", "read_html")
importFrom("RODBC", "odbcConnect", "odbcClose", "sqlFetch")
importFrom("stats", "formula","na.omit","update", "setNames")
importFrom("utils", "data","download.file", "getS3method","packageVersion", "unzip","write.csv")
export(dbhMetric,default_snfi_volume_equations,dendroMetrics,externalMetrics,external_dendroMetrics,externalMetrics2Vol,external_schema,fetchNFI,getNFI,new_concentric_design,new_inventory_design,snfi_design,metrics2Vol,snfi_volume_method_registry,nfiMetrics,readNFI,trees_per_ha)
S3method(trees_per_ha, concentric_design)
S3method(trees_per_ha, inventory_design)
S3method(print, concentric_design)
S3method(print, inventory_design)
S3method(print, concentric_design)
S3method(print, external_schema)
S3method(update,dendroMetrics)
S3method(update,external_dendroMetrics)
S3method(update, list)




